body {
    background-color: rgb(188, 188, 188);
}

/* .nn {
    background-color: rgb(221, 224, 227);
    padding: 10px;
    border: 0.5px solid black;
    border-radius: 5px;
    margin: 10px 0px 10px 4px;
} */